* {
  font-family: 'Calibri', 'Arial', sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
  width: 30px;
}
tr, td {
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
td:first-child {
}
td input[type="checkbox"] {
  display: block;
  margin: auto;
}
td input[type="checkbox"]:checked {
  background-color: blue;
}
td input[type="checkbox"]:not(:checked) {
  background-color: red;
}

#check-btn, #hide-checkboxes-btn {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#check-btn:hover, #hide-checkboxes-btn:hover {
  background-color: #3e8e41;
}

#save-checkboxes-btn, #sort-asc, #sort-desc {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

#save-checkboxes-btn:hover,
#sort-asc:hover,
#sort-desc:hover {
  background-color: grey;
  color: white;
}
